# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# PyCharm
.idea/
*.iml

# macOS
.DS_Store

# Environment variables
.env

# db
db.json


